*{
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
li{
    list-style: none;
    color: white;
    position: relative;
    background-color: lightslategray;
    margin: 15px;
    padding: 15px 19px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 4px 7px 12px  rgb(145, 135, 135);
}
li.done{
    background-color: #a8dd74;
}
li.done::before{
    content: "";
    position: absolute;
    border-color: #009933;
    border-style: solid;
    border-width: 0 0.3em 0.25em 0;
    height: 1em;
    top: 1.3em;
    left: 0.6em;
    margin-top: -1em;
    width: 0.5em;
    transform: rotate(45deg);
}